[Unit]
Description=LZERO Server for FREDNET POS data
After=network.target

[Service]
Type=simple
User=vpoggi
WorkingDirectory=/home/vpoggi
ExecStart=/usr/bin/python3 /home/vpoggi/lzeroserver.py start --root /mnt/EXTDISK/data/TMPNETS/2024.CAMPIFLEGREI --port 5000
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
